<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m.tech.polygon_progress_view">

    <application>
        <activity
            android:name=".PolygonProgressViewActivity"
            android:exported="true" />
    </application>

</manifest>